In [1]:
# Jason Street
# Module 3
# All output is together in the last cell
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# import data
url = 'https://gpa.eng.uci.edu/'

html_doc = requests.get(url, verify=False).content

# parsing the HTML file 
parsed_html = BeautifulSoup(html_doc)

new = parsed_html.find_all('tr')

C:\ProgramData\anaconda3\Lib\site-packages\urllib3\connectionpool.py:1061: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gpa.eng.uci.edu'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [3]:
# declare lists to store data
list = []
school_name = []
location = []
country = []
school_code = []
intl_gpa = []
us_gpa = []
action_nid = []
    
# pull data from each row
for row in new:
    # split the text of each row for later assignment of list elements
    info = row.text.split('\n')[1:8]
    list.append(info)

headings = list[0]
school_info = list[1:]

for school in school_info:
# add data to respective lists
    school_name.append(school[0])
    location.append(school[1])
    country.append(school[2])
    school_code.append(school[3])
    intl_gpa.append(school[4])
    us_gpa.append(school[5])
    action_nid.append(school[6])

In [4]:
# set up dictionary for the data
data = {
    headings[0]: school_name,
    headings[1]: location,
    headings[2]: country,
    headings[3]: school_code,
    headings[4]: intl_gpa,
    headings[5]: us_gpa,
    headings[6]: action_nid
}
    
# make DataFrame from the dictionary
df = pd.DataFrame(data=data)

In [5]:
# print the information for the assignment
print('Jason Street')

print("\nLength without header:", len(school_info))

print("\nHead of the table:")
print(df.head())

print("\nTail of the table:")
print(df.tail())

Jason Street

Length without header: 466

Head of the table:
                           School name   \
0                     DEFAULT Argetina
1       Australian National University
2                    Monash University
3    The University of New South Wales
4         The University of Queensland

                                   Location                          Country
0                                                         Argentina
1                         Canberra                        Australia
2              Melbourne, Victoria                        Australia
3                           Sydney                        Australia
4                       Queensland                        Australia

Tail of the table:
                                       School name   \
461    The University of Sheffield - Undergraduate
462                       University of Birmingham
463                       University of Portsmouth
464                                DEFAULT Vietnam
465      Ho Chi Minh City University of Technology

                                     Location   \
461                        Sheffield
462
463              Portsmouth, England
464
465                           Saigon

                                 Country
461              United Kingdom
462              United Kingdom
463              United Kingdom
464                     Vietnam
465                     Vietnam